.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.bg1 {
    background-image: url(/images/bg1.webp);
}

.bg2 {
    background-image: url(/images/bg2.webp);
}

.bg3 {
    background-image: url(/images/bg3.webp);
}

.bg4 {
    background-image: url(/images/bg4.webp);
}


